club.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  
  <xs:element name="club">
    <xs:complexType>
      <xs:sequence>

        <xs:element name="categories">
          <xs:complexType>
          <xs:sequence>
            <xs:element name="categorie" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="id" type="xs:ID" use="required"/>
                  <xs:attribute name="libelle" use="required">
                    <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:minLength value="1"/>
                    </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="membres">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="membre" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="nom" type="NonEmptyString"/>
                    <xs:element name="prenom" type="NonEmptyString"/>
                    <xs:element name="email" type="EmailType"/>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:ID" use="required"/>
                  <xs:attribute name="categorieRef" type="xs:IDREF" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="concours">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="concours" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>

                    <xs:element name="titre" type="NonEmptyString"/>

                    <xs:element name="participants">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="participant" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="complexite" type="ComplexiteType"/>
                                <xs:element name="tempsExecution" type="TempsType"/>
                              </xs:sequence>
                              <xs:attribute name="membreRef" type="xs:IDREF" use="required"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>

                  </xs:sequence>

                  <xs:attribute name="id" type="xs:ID" use="required"/>
                  <xs:attribute name="categorieRef" type="xs:IDREF" use="required"/>
                  <xs:attribute name="date" type="xs:date" use="required"/>
                  <xs:attribute name="coefficient" type="PositiveDecimal" use="required"/>

                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

      </xs:sequence>

      <xs:attribute name="nom" type="NonEmptyString" use="required"/>

    </xs:complexType>
  </xs:element>

  

  <!-- Non Empty String -->
  <xs:simpleType name="NonEmptyString">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>


  <xs:simpleType name="EmailType">
    <xs:restriction base="xs:string">
      <xs:pattern value=".+@.+"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ComplexiteType">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="100"/>
    </xs:restriction>
  </xs:simpleType>

  
  <xs:simpleType name="TempsType">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="1"/>
    </xs:restriction>
  </xs:simpleType>

  
  <xs:simpleType name="PositiveDecimal">
    <xs:restriction base="xs:decimal">
      <xs:minExclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
